.my-form {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.my-form label {
  font-weight: bold;
  margin-right: 10px;
}

.my-form input[type="text"],
.my-form input[type="number"],
.my-form input[type="file"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.my-form input[type="file"] {
  padding: 10px;
}

.my-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.my-form input[type="submit"]:hover {
  background-color: #45a049;
}